@keyframes flashEffect {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flash-on-update {
	animation: flashEffect 0.5s ease-in-out; /* Adjust duration and timing */
}

.modal-footer {
	border-top: 0 none;
}

.language-icon {
    width: 24px;
    height: 24px; /* Sets the icon to a 32x32 pixel size */
}

.language-dropdown-toggle::after {
    content: none;
}

@media print {
  @page {
    size: A4; /* Sets the page size to A4 */
    margin: 20mm; /* Sets a 20mm margin on all sides */
  }
  body {
    margin: 0; /* Remove default body margin */
    color: #000; /* Ensure black text for printing */
    background-color: #fff; /* Ensure white background for printing */
    font-size: 10pt; /* Adjust base font size for print */
  }

  .container {
    width: 100% !important; /* Ensure container takes full width */
    max-width: none !important; /* Remove max-width constraints */
  }

  /* Example: Force desktop-like column layout */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .page-break-after {
    page-break-after: always;
  }
}